[package]
name = "enody"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "enody"
path = "src/main.rs"

[dependencies]
env_logger  = { version = "0.11.8" }
log         = { version = "0.4.27" }

rusb        = { version = "0.9.4" }
tokio       = { version = "1.44.2", features = ["full"] }
uuid        = { version = "1.16.0", features = ["v6", "serde"] }
