[package]
name = "enody"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "enody"
path = "src/main.rs"

[dependencies]
env_logger  = { version = "0.11.8" }
log         = { version = "0.4.27" }
postcard    = { version = "1.1.1", default-features = false, features = ["use-std"]}
rusb        = { version = "0.9.4" }
serde       = { version = "1.0.219", features = ["derive"] }
tokio       = { version = "1.44.2", features = ["full"] }
uuid        = { version = "1.16.0", features = ["v4", "v6", "serde"] }
